- provide(:title, 'Lines')
%br
%br
.row
  .col-sm-9
    %h3
      %i.fa.fa-hashtag
      Lines
      = link_to new_line_path, class: 'btn btn-success btn-sm' do
        %i.fa.fa-plus
.row
  .col-sm-12
    = smart_listing_render :lines
= render "lines/dialog"
