- provide(:title, 'Lines')
.row
  .col-sm-12
    %h4
      %i.fa.fa-hashtag
      Lines
      .pull-right
        = link_to new_line_path, class: 'btn btn-success btn-sm' do
          %i.fa.fa-plus
          Add
%br
.row
  .col-sm-12
    = smart_listing_render :lines

.row
  .col-sm-12
    .help-block.text-muted.text-center
      Note: if you are looking for lines that you purchased through your Twilio account, you will not see them here. TextMy.Team only works with lines purchased/reserved through Hydra. This is so we can properly configure their settings, without potentially disrupting other uses for your exsting lines.
= render "lines/dialog"
