- provide(:title, 'Buy A Line')
.row
  .col-sm-12
    %h4
      %i.fa.fa-hashtag
      Lines
.row
  .col-sm-12.col-md-6.col-centered
    .card
      .card-block
        %h4 Buy A Line
        = render 'form'
