%br
%br
.row
  .col-sm-12.col-md-6.col-centered
    .text-center
      %h1 Buy A Line
      %p.lead.text-danger
        This will initiate the
        %strong.text-danger purchase
        of the Twilio Number you select, with the configuration options you specify.
.row
  .col-sm-12.col-md-6.col-centered
    .card.card-outline-primary
      = render 'form'
