%h4 Messages
= line_chart messages_dashboard_path, library: { legend: { position:  'bottom' }, pointSize: 0, curveType: "none", hAxis: { format: 'MM/dd' } }
%br
%h4 Calls
= line_chart calls_dashboard_path, library: { legend: { position:  'bottom' }, pointSize: 0, curveType: "none", hAxis: { format: 'MM/dd' } }
%br
#ThisMonth
  %br
  %br
  %br
  .text-center
    %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
    %h3 Loading...
