#ThisMonth
  %br
  %br
  %br
  .text-center
    %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
    %h3 Loading Twilio Usage Report...
%br
.card.card-default
  .card-header
    %h4.card-title
      %i.fa.fa-envelope
      Messages
  .card-block
    = line_chart messages_dashboard_path, library: { legend: { position:  'bottom' }, pointSize: 0, curveType: "none", hAxis: { format: 'MM/dd' } }
%br
.card.card-default
  .card-header
    %h4.card-title
      %i.fa.fa-phone
      Calls
  .card-block
    = line_chart calls_dashboard_path, library: { legend: { position:  'bottom' }, pointSize: 0, curveType: "none", hAxis: { format: 'MM/dd' } }
