.row
  .col-sm-12
    .card.my-2
      .card-block
        %h4 Messages
      = line_chart messages_dashboard_path, stacked: true, library: { position:  'bottom', pointSize: 0 }

  .col-sm-12
    .card.my-2
      .card-block
        %h4 Calls
      = line_chart calls_dashboard_path, stacked: true, library: { position:  'bottom', pointSize: 0}

%br
.row
  .col-sm-12
    .card.my-2
      .card-block
        %h4 List Growth
      = line_chart list_growth_dashboard_path, library: { position:  'bottom', pointSize: 0}

  .col-sm-12.col-md-6
    #LastMonth
      %br
      %br
      %br
      .text-center
        %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
        %h3 Loading...

  .col-sm-12.col-md-6
    #ThisMonth
      %br
      %br
      %br
      .text-center
        %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw
        %h3 Loading...
