.row{style: 'margin-top: 20vh'}
  .col-sm-12.col-md-6.col-lg-4.col-centered
    .card.card-outline-success.text-xs-center
      .card-block
        %blockquote.card-blockquote
          .text-center
            %p.lead Thank you for signing up! To get started, please set up your organization and billing information.
            = link_to new_organization_path, class: 'btn btn-lg btn-success' do
              Set Up
