- provide(:title, 'Dashboard')
- if current_user.setup?
  .row
    .col-sm-12.col-md-6
      .card.card-primary
        .card-title
          %h4.text-white{style: 'padding-top: 5px; margin: 5px'}
            Messages
        = line_chart messages_dashboard_path, range: 1.month.ago..Time.now, stacked: true, legend: 'bottom'

  %br
  .row
    .col-sm-12.col-md-6
      .card.card-primary
        .card-title
          %h4.text-white{style: 'padding-top: 5px; margin: 5px'}
            List Growth
        = line_chart list_growth_dashboard_path

    .col-sm-12.col-md-6
      .card.card-primary
        .card-title
          %h4.text-white{style: 'padding-top: 5px; margin: 5px'}
            Cost
        = line_chart list_growth_dashboard_path
- else
  = render 'dashboard/setup_instructions'
