- provide(:title, "Dashboard")
.row
  .col-sm-12
    %h4
      %i.fa.fa-tachometer
      - if current_user.first_name.present?
        = "Welcome, #{current_user.try(:first_name)}!"
      - else
        Welcome!
- if current_user.setup?
  = render 'dashboard/charts'
- else
  = render 'dashboard/setup_instructions'
