.card.card-default
  .card-header
    .card-title
      %h4
        %img.img-fluid{src: asset_url('twilio-mark-blue.svg')}
        Usage
  %table.table.table-primary.table-condensed
    %thead
      %tr
        %th Item
        %th.text-center Units
        %th.text-right Cost
    %tbody
      - @records.each do |r|
        %tr
          %td= r[:description]
          %td.text-center= number_with_delimiter r[:count]
          %td.text-right= number_to_currency r[:price], precision: 4
      %tr
        %td
          %strong Total
        %td{colspan: 2}
          .pull-right
            %strong= number_to_currency @records.sum { |r| r[:price].to_f }, precision: 4
