.row.flex-items-xs-middle.flex-items-xs-center
  / Table #1
  .col-xs-12.col-lg-4
    .card.text-xs-center
      .card-header
        %h4.card-title
          Solo Plan
        %small Perfect for organizations with just one simple messaging need.
        %h3.display-2
          %span.currency> $
          5
          %span.period / month
      .card-block
        %ul.list-group
          %li.list-group-item Twilio Integration
          %li.list-group-item Unlimited Contacts
          %li.list-group-item Unlimited Messages
          %li.list-group-item One User
          %li.list-group-item One Managed Line
        %a.btn.btn-primary.btn-block.mt-2{href: new_user_registration_path} SIGN UP
  / Table #1
  .col-xs-12.col-lg-4
    .card.text-xs-center
      .card-header
        %h4.card-title
          Group Plan
        %small Perfect for organizations looking to track advertising performance, or those with more than one person who may want to send messages, or multiple departments needing their own lines.
        %h3.display-2
          %span.currency> $
          9
          %span.period / month
      .card-block
        %ul.list-group
          %li.list-group-item Twilio Integration
          %li.list-group-item Unlimited Contacts
          %li.list-group-item Unlimited Messages
          %li.list-group-item.text-success MMS Support
          %li.list-group-item.text-success Unlimited Users
          %li.list-group-item.text-success Unlimited Managed Lines
          %li.list-group-item.text-success Contact CSV Imports
        %a.btn.btn-primary.btn-block.mt-2{href: new_user_registration_path} SIGN UP
  / Table #1
  .col-xs-12.col-lg-4
    .card.text-xs-center
      .card-header
        %h4.card-title
          Enterprise Plan
        %small This plan is for organizations that want TmT to work hand-in-hand with their other software solutions; or, to have extra attention paid to their needs.
        %h3.display-2
          %span.currency> $
          19
          %span.period / month
      .card-block
        %ul.list-group
          %li.list-group-item Twilio Integration
          %li.list-group-item Unlimited Contacts
          %li.list-group-item Unlimited Messages
          %li.list-group-item.text-success MMS Support
          %li.list-group-item.text-success Unlimited Users
          %li.list-group-item.text-success Unlimited Managed Lines
          %li.list-group-item.text-success Contact CSV Imports
          %li.list-group-item.text-success
            %em 2 priority support hours/mo
          %li.list-group-item.text-success
            %em Feature Requests
          %li.list-group-item.text-success
            %em Custom Integrations
        %a.btn.btn-primary.btn-block.mt-2{href: new_user_registration_path} SIGN UP
