.jumbotron
  .text-center
    %h1.display-3 Text Your Team
    %br
    %p.lead This is a simple tool designed to help you text your fellow employees and team members.
    %br
    %a.btn.btn-primary.btn-lg{:href => pricing_path} Pricing
    %a.btn.btn-success.btn-lg{:href => new_user_registration_path} Sign Up
