.row{style: 'padding-top: 15vh;'}
  .col-sm-12
    .card.card-primary
      .card-block
        .row
          .col-sm-12
            .text-center
              %h1.display-1.text-white HYDRA
              %br
              %p.lead.text-white BYO Twilio® Texting Service
              %p.text-white Hydra makes it easy to send text messages to anyone you'd like at a simple, predictable price.
              %br
              %a.btn.btn-success.btn-lg{:href => new_user_registration_path} Sign Up
