- provide(:title, "Text Your Contacts")
%section#LandingContainer
  .container
    .row
      .col-sm-12.col-md-8.col-lg-4
        .jumbotron
          %h1.text-white{style: 'font-weight: 900;'}
            %b
              Texting Is
            %br
            %b{style: 'font-size: 2em;'}
              %em NOW
          %br
          %p.text-white What do people always have in their hand? Their phone. Let's be honest: if you want your message read in a timely manner, you send a text. We make that easy.
          %br
          %a.btn.btn-success.btn-lg.btn-block{href: '#Features'} See How

%section#Features
  .section-header
    .section-title
      .row
        .col-sm-12.col-md-8.col-lg-6.col-centered
          .text-center
            %hr
            %h1 How It Works
  .section-content
    .container
      .row.mb-5.pb-5
        .col-sm-6
          %h2
            BYO
            %img.img-fluid{src: asset_url('twilio-logo-red.svg')}
          %p
            Twilio is a cloud communications platform as a service company that allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs.
            TextMy.team uses the Twilio Connect™ platform to help you leverage Twilio's amazing capabilities, as well as its cost effective pay-as-you-go pricing,
            %em
              %strong.text-info without having to write any code yourself.
          %p
            What makes TextMy.team different from most text messaging service providers is that because you connect
            %strong your own Twilio account,
            you pay
            %em cost
            for whatever your usage is. Instead of paying us a ridiculous per-message upcharge, you simply pay a low monthly fee to make it easy to send & receive messages, configure your line settings, and manage your contacts.

          %p.text-info
            %strong All TmT users must have a Twilio account connected for anything to work. If you don't already have a Twilio account, you can create one when you register for TmT, or, you can create one now!

          .text-center
            %a.btn.btn-lg{href: "https://www.twilio.com/pricing", target: '_blank', style: "background-color: #0D122B; text-decoration: none; color: #fff"}
              %img.img-fluid{src: asset_url('twilio-mark-white.svg')}
              SIGN UP
        .col-sm-6
          %img.img-fluid.rounded{src: 'https://www.twilio.com/marketing/bundles/company-brand/img/photo-twilio-whiteboard-hi-res.jpg'}
      .row.mt-5.pt-5.mb-5.pb-5
        .col-sm-6
          %img.img-fluid.rounded{src: 'https://images.pexels.com/photos/267507/pexels-photo-267507.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb'}
        .col-sm-6
          %h2 Configure Line(s)
          %p TextMy.team makes it easy to reserve a local phone number and configure auto-responses, call-forwarding, call-tracking, greeting prompts, and more.
          %p No more need for developer intervention or special scripts. Whether you want conversational texting, one-way blast messaging, or even advertising performance evaluation.
      .row.mt-5.pt-5.mb-5.pb-5
        .col-sm-6
          %h2 Manage Contacts
          %p One single list to manage. Contacts are easily filtered using tags, sorted by any attribute, and kept up to date with quickforms.
          %p The contact directory is your launching point for messages. Once you've selected your contacts, you simply either message everyone who matches the filter (message all), or just the contacts you selected (message selected). It's that easy.
        .col-sm-6
          %img.img-fluid.rounded{src: asset_url('srubbed-contacts.jpg')}
      .row.mt-5.pt-5.mb-5.pb-5
        .col-sm-6
          %img.img-fluid.rounded{src: 'http://g.recordit.co/1bGCLppnS1.gif'}
        .col-sm-6
          %h2 Send Messages
          %p TextMy.team makes it easy to reserve a local phone number and configure auto-responses, call-forwarding, call-tracking, greeting prompts, and more.
          %p No more need for developer intervention or special scripts. Whether you want conversational texting, one-way blast messaging, or even advertising performance evaluation.
      .row.mt-5.pt-5.mb-5.pb-5
        .col-sm-6
          %h2 Follow the Action
          %p With the TmT action feed, it's easy to stay up to date with your messaging activity.
        .col-sm-6
          %img.img-fluid.rounded{src: asset_url('https://static.pexels.com/photos/541522/pexels-photo-541522.jpeg')}

%section#Pricing
  .section-header
    .section-title
      .row
        .col-sm-12.col-md-8.col-lg-6.col-centered
          .text-center
            %hr
            %h1 Pricing
            %p.lead Choose the plan that makes the most sense for you.
            %span.text-muted
              Upgrade or downgrade at any time. TextMy.team monthly pricing
              %strong does not include
              Twilio usage costs.
  .section-content
    .container
      .row.flex-items-xs-middle.flex-items-xs-center
        / Table #1
        .col-xs-12.col-lg-4
          .card.text-xs-center
            .card-header
              %h4.card-title
                Solo Plan
              %h3.display-2
                %span.currency> $
                5
                %span.period / month
            .card-block
              %ul.list-group
                %li.list-group-item Twilio Integration
                %li.list-group-item One User
                %li.list-group-item One Managed Line
                %li.list-group-item Unlimited Contacts
                %li.list-group-item Unlimited Messages
              %a.btn.btn-primary.mt-3.btn-block.disabled{href: new_user_registration_path} Coming Soon!
        / Table #1
        .col-xs-12.col-lg-4
          .card.text-xs-center{style: "border-radius: 3px; border: 2px solid #5cb85c"}
            .card-header
              %h4.card-title
                Group Plan
              %h3.display-2
                %span.currency> $
                10
                %span.period / month
            .card-block
              %ul.list-group
                %li.list-group-item Twilio Integration
                %li.list-group-item Unlimited Users
                %li.list-group-item.text-success User Permissions
                %li.list-group-item Unlimited Managed Lines
                %li.list-group-item Unlimited Contacts
                %li.list-group-item.text-success Contact Uploader
                %li.list-group-item Unlimited Messages
                %li.list-group-item.text-success MMS Support
              %a.btn.btn-primary.mt-3.btn-block.disabled{href: new_user_registration_path} Coming Soon!
        / Table #1
        .col-xs-12.col-lg-4
          .card.text-xs-center
            .card-header
              %h4.card-title
                Enterprise Plan
              %h3.display-2
                %span.currency> $
                50
                %span.period / month
            .card-block
              %ul.list-group
                %li.list-group-item Twilio Integration
                %li.list-group-item Unlimited Users
                %li.list-group-item.text-success User Permissions
                %li.list-group-item Unlimited Managed Lines
                %li.list-group-item Unlimited Contacts
                %li.list-group-item.text-success Contact Uploader
                %li.list-group-item Unlimited Messages
                %li.list-group-item.text-success MMS Support
                %li.list-group-item.text-success
                  %em 2 priority support hours/mo
                %li.list-group-item.text-success
                  %em Feature Requests
                %li.list-group-item.text-success
                  %em Custom Integrations
              %a.btn.btn-primary.mt-3.btn-block{href: new_user_registration_path} Choose Plan
