- provide(:title, "Messaging Solution")
%section#LandingContainer
  .container
    .row
      .col-sm-12.col-md-8.col-lg-4
        .jumbotron
          %h1.text-white{style: 'font-weight: 900;'}
            %b
              Texting Is
            %br
            %b{style: 'font-size: 2em;'}
              %em NOW
          %br
          %p.text-white What do people always have in their hand? Their phone. Let's be honest: if you want your message read in a timely manner, you send a text. We make that easy.
          %br
          %a.btn.btn-success.btn-lg.btn-block.nav-link{href: '#Features'} See How

%section#Features
  .section-header
    .section-title
      .row
        .col-sm-12.col-md-8.col-lg-6.col-centered
          .text-center
            %hr
            %h1 How It Works
  .section-content
    .container
      .row.mb-5.pb-5
        .col-sm-6
          %h2
            BYO
            %img.img-fluid{src: asset_url('twilio-logo-red.svg')}
          %p
            Twilio is a cloud communications platform as a service company that allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs.
            TextMy.team uses the Twilio Connect™ platform to help you leverage Twilio's amazing capabilities, as well as its cost effective pay-as-you-go pricing,
            %em
              %strong.text-info without having to write any code yourself.
          %p
            What makes TextMy.team different from most text messaging service providers is that because you connect
            %strong your own Twilio account,
            you pay
            %em cost
            for whatever your usage is. Instead of paying us a ridiculous per-message upcharge, you simply pay a low monthly fee to make it easy to send & receive messages, configure your line settings, and manage your contacts.
        .col-sm-6
          %img.img-fluid.rounded{src: 'https://www.twilio.com/marketing/bundles/company-brand/img/photo-twilio-whiteboard-hi-res.jpg'}
      .row.mt-5.pt-5.mb-5.pb-5
        .col-sm-6
          %img.img-fluid.rounded{src: 'https://images.pexels.com/photos/267507/pexels-photo-267507.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb'}
        .col-sm-6
          %h2 Configure Your Lines
          %p Textmy.team makes it easy to reserve local, dedicated phones number for your organization to send and receive messages. You can configure auto-responses, call-forwarding, call-tracking, greeting prompts and much more for each line.
      .row.mt-5.pt-5.mb-5.pb-5
        .col-sm-6
          %h2 Upload your Contacts
          %p One single list to manage. Quickly upload your contacts, easily filter using tags, and sort by any attribute. Keep your contacts up to date with quickforms.
        .col-sm-6
          %img.img-fluid.rounded{src: asset_url('srubbed-contacts.jpg')}
      .row.mt-5.pt-5.mb-5.pb-5
        .col-sm-6
          %img.img-fluid.rounded{src: 'http://g.recordit.co/1bGCLppnS1.gif'}
        .col-sm-6
          %h2 Send Messages
          %p Send text messages to any of your contacts from your dedicated lines. The message interface makes it easy to input your message and includes character count and a message cost calculator!  Perfect for one-way blast messages or advertising.
          %p It's not just a one-way conversation either! Your phone lines can also receive text messages and support call forwarding to enhance team and customer communication.
      .row.mt-5.pt-5.mb-5.pb-5
        .col-sm-6
          %h2 Follow the Action
          %p All message activity is smartly displayed on your dashboard. Quickly view sent and received text messages as well as voice call activity.
          %p You can also configure email notifications of incoming messages so no one on your team goes unheard.

        .col-sm-6
          %img.img-fluid.rounded{src: asset_url('https://static.pexels.com/photos/541522/pexels-photo-541522.jpeg')}

%section#Pricing
  .section-header
    .section-title
      .row
        .col-sm-12.col-md-8.col-lg-6.col-centered
          .text-center
            %hr
            %h1 Pricing
            %p.lead Choose the plan that makes the most sense for you.
            %span.text-muted
              Change plans any time. TextMy.team monthly pricing
              %strong does not include your Twilio usage costs.
              You will be asked to confirm your plan before finalizing your subscription.
  .section-content
    .container
      = render partial: 'pricing'

%section#Questions
  %hr
  .container
    .section-header
      .section-title
        .row
          .col-sm-12.col-md-8.col-lg-6.col-centered
            .text-center
              %h1 FAQs
              %p You got questions, we got answers.
    .section-content
      #questions_placeholder
        %p.lead.text-center
          %i.fa.fa-spinner.fa-spin.fa-5x.fa-fw

= render partial: 'static_pages/section_contact'
