%br
%br
.row
  .col-sm-12
    .jumbotron
      .row
        .col-sm-12
          .text-center
            %h1.display-1 Text Your Team
            %br
            %p.lead This is a simple tool designed to help you text your employees and team members. It's built with an internal, organizational focus and is not designed to be a marketing tool.
            %p
              Hydra is an extemely simple service built on top of three super stable, trustworthy platforms: Twilio, Stripe, and Heroku.
              We personally can't wait until Mailchimp adds SMS/MMS to its feature suite, because it is a truly awesome list-based communication service at its core, but, that is probably some time in the unpredictable future. In the meantime, there's us.
              Any company with a junior Ruby/Rails developer on staff could probably recreate this service for themselves and pay only cost. If you want the source, code, it's available to you here: link. Otherwise, check out our pricing and sign up.
            %br
            %a.btn.btn-success.btn-lg{:href => new_user_registration_path} Sign Up
%br
%br
.row
  .col-sm-12
    .text-center
      %h2.display-3 Pricing
      %p.lead At the end of the month, we will calculate your usage, charge the card you put on file, and send you a receipt.<br /> It's that easy (for all of us).
    %br
    .table-responsive
      %table.table.table-bordered
        %thead
          %th.text-center Local Numbers
          %th.text-center{colspan: 2} SMS
          %th.text-center{colspan: 2} MMS
          %th.text-center Team Members
          %th.text-center Users
        %tbody
          %tr
            %td.text-center
              %h4 $5
              %span per line/month
            %td.text-center
              %h4 5¢/message
              %span to send
            %td.text-center
              %h4 5¢/message
              %span to receive
            %td.text-center
              %h4 5¢/message
              %span to send
            %td.text-center
              %h4 5¢/message
              %span to receive
            %td.text-center
              %h4 ∞
              %span always
            %td.text-center
              %h4 ∞
              %span always
