.row{style: 'padding-top: 15vh;'}
  .col-sm-4
    .card.card-primary
      .card-block
        .text-center
          %h1.text-white{style: "font-size: 4em"} Two-Way Text Messaging
          %br
          %p.text-white
            For your team, customers, contacts, members, donors, supporters, fans, etc.
          %a.btn.btn-success.btn-lg{:href => new_user_registration_path} Sign Up Here!
