%br
%br
.row
  .col-sm-12
    .jumbotron
      .row
        .col-sm-12
          .text-center
            %h1.display-1 Text Your Team
            %br
            %p.lead This is a simple tool designed to help you text your employees and team members.
            %br
            %a.btn.btn-success.btn-lg{:href => new_user_registration_path} Sign Up
%br
%br
.row
  .col-sm-12
    .text-center
      %h2.display-3 Pricing
%br
%br
.row
  .col-sm-12.col-md-6.col-lg-3.offset-lg-2
    .card.card-inverse.card-danger.text-xs-center
      .card-block
        %blockquote.card-blockquote
          .text-center
            %p.lead SMS Pricing.
            %h1.display-1.pricing-cent 2
            %br
            %p.lead Per Text Message Sent.
            %em Billed Monthly.
  .col-sm-12.col-md-6.col-lg-3.offset-lg-2
    .card.card-inverse.card-danger.text-xs-center
      .card-block
        %blockquote.card-blockquote
          .text-center
            %p.lead MMS Pricing.
            %h1.display-1.pricing-cent 4
            %br
            %p.lead Per Text Message Sent.
            %em Billed Monthly.
