%h1 Hydra Privacy Policy
%p.lead Last Revised 17 April 2017
  
Hydra is committed to protecting our users' privacy. This statement is meant to inform our users how we define, gather and utilize Personally Information. We will take reasonable steps to protect user privacy consistent within the guidelines set forth in this policy and the law. By using this site and the applications within, you consent to the following privacy policy.



%h2 The Basics
These definitions should help you understand this policy. When we say “we,” “us,” “our,” and “Hydra” we are referring to Atlas Does LLC d/b/a Hydra, a State of Minnesota limited liability company. We provide online platforms that you may use to communicate with others, including creating, sending, and managing text messages, voice and video calls, and other information related to your Subscribers (the “Services”). When we say “Member,” we are referring to the person or entity that is registered with us to use the Services. When we say “you,” we are referring either to a Member or to some other person who visits our website. A “Subscriber” is a person that you contact through our Services, or a person who you might choose to contact at some point in the future through the use of our Services. In other words, a Subscriber is anyone on your Distribution List or about whom you have given us information. “Personal Information” means information that can be used to identify you or a Subscriber, including, but not limited to, first and last name, date of birth, email address, phone number, gender, occupation or other demographic information. A “Distribution List” is a list of Subscribers and all associated information related to those Subscribers (for example, phone numbers).


%h2 User Information
User information is collected when a Member voluntarily fills out a form, processes an order, or signs into the website through a third party service. You may import information into our system about your Subscribers, but since we have no direct relationship with your Subscribers, you are responsible for securing appropriate permission for us to handle and store that Personal Information.  All Personal Information is collected and used to support our Services, and is stored in a secure database. Please note though that no service is completely secure, so while we strive to protect your data, we cannot guarantee that unauthorized access, hacking, data loss or a data breach will never occur.  

We will retain the Personal Information we process on behalf of our Members for as long as needed to provide our Services or to comply with our legal obligations, resolve disputes, prevent abuse, and enforce our agreements.

Cookies are used to store information about your current session and other preferences. This information may be used to track user progress and to offer a more personalized experience. Cookies can be disabled or cleared in your web browser settings.

At no point is your payment information (credit/debit card, etc) stored on this site or handled directly by us. Payments and associated information are handled by a third party that is Payment Card Industry (PCI) compliant. The third party will request your personal payment data, and may provide your payment token information to us for your viewing on your profile that can only be viewed by you and us. 

%h2 Third Parties
We do not sell, trade, or otherwise transfer user Personal Information to outside parties. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect our or others’ rights, property, or safety. However, non-identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.

Any linked, third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites.

%h2 Media Content
We may retain the content of your messages sent from the application (voice, text, and emails) and review them from time to time to ensure compliance with our Terms and Conditions of Use.  All message content is treated as Member proprietary and is available for the Member to view.  No message content will be provided to an outside party except for providing Services, or if we believe release is appropriate to comply with the law, enforce our site policies, or protect our or others’ rights, property, or safety.    


%h2 Access
We will give an individual, either you or a Subscriber, access to any Personal Information we hold about them within 30 days of any request for that information. Individuals may request to access, correct, amend or delete information we hold about them by emailing us at Contact@atlasdoes.com. Unless it is prohibited by law, we will remove any Personal Information about an individual, either you or a Subscriber, from our servers at your or their request.


%h2 Changes
We may change this Privacy Policy at any time and from time to time. The most recent version of the Privacy Policy is reflected by the version date located at the top of this Privacy Policy. All updates and amendments are effective immediately upon notice, which we may give by any means, including, but not limited to, by posting a revised version of this Privacy Policy or other notice on the Website. 

%h2 Questions and Concerns
If you should have any questions or concerns about our Privacy Policy, please contact the Atlas Does team through the methods below:

Contact@atlasdoes.com
(651) 334-2190