%h1 Hydra Terms and Conditions of Use
%p.lead Last Revised 17 April 2017

%h2 Terms
By accessing Hydra’s web site ("Website"), you are agreeing to be bound by these Terms and Conditions of Use ("Terms and Conditions"), all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. The information, software, content, and applications contained in and on Hydra.com’s web site (collectively referred to herein as the “Services”) are protected by applicable copyright and trademark law.

If you do not agree with any of these terms, you are prohibited from using or accessing this site. Hydra may be referred to herein as “we”, “us”, or “Hydra”.


%h2 Liability
Hydra is a web application that allows Members to communicate with their Subscribers.  As such, Hydra does not endorse and is not responsible for the content of any messages.  Additionally, Hydra’s services are not intended to support or carry emergency calls or SMS messages to any emergency services. Hydra will not be liable, under any legal or equitable theory for any claim, damage, or loss relating to the inability to use our services to contact emergency services.

Hydra utilizes a third party to transmit a Member’s message to their Subscribers, and as such, Hydra is not responsible for the performance of third party’s message transmission (this includes SMS messages, emails, and voice). Hydra is not obligated to store past transmitted messages, but may retain messages to ensure compliance with our Terms and Conditions of Use.  By using Hydra’s communication application, you also agree to adhere to the Terms and Conditions of the third party messaging system.

Hydra is not liable for the content of any websites that are linked to this Website. Inclusion of these links on our Website does not imply endorsement.  If you use any of the linked web sites, it is at your own risk.

In no event shall Hydra be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the Services, even if Hydra.com or a Hydra authorized representative has been notified orally or in writing of the possibility of such damage.


%h2 Privacy Policy
By visiting, viewing, and using our website and the associated tools, you acknowledge that you have viewed and agree to our Privacy Policy (insert link).  You are prohibited from viewing or using our website if you do not agree with our Privacy Policy (insert link).


%h2 Governing Law
These terms and conditions are governed by the laws of the United States of America and the laws of the State of Minnesota.  The Member will ensure our Services are used in accordance with the applicable Law and third party rights, in addition to these Terms and Conditions of Use.


%h2 Payment
All Hydra services will be paid electronically through our web application’s designated PCI-compliant third party system. Payment will guarantee Service availability for the upcoming month and is due by the second business day of each month. Invoices will be delivered by email to the Member, and may also be available on the Member’s profile on the Website.

We maintain a routine billing cycle, starting at the beginning of every month.  If you should need to begin service before the next billing cycle, an adjusted rate will be reflected on your invoice for the Services used.


%h2 Cancellation Policy
Cancellation of Services by the Member requires an email notification from the Member 30 days in advance of cancellation to Admin@atlasdoes.com.  Upon cancellation, all Member information will be deleted (including, but not limited to, profile and databases, information).

Hydra may terminate or suspend with immediate effect and without notice your access to and use of this Website and its Services if:
It reasonably believes that you have breached any of these Terms and Conditions of Use;
It does not receive payment within 2 business days of the invoice date;
It is unable to verify the accuracy or validity of any information provided by you;
Or it suspects fraudulent, abusive or illegal activity by you.

An account suspension will result in the inability to use Website Services, but will retain the integrity of all existing account and database information.  The termination or cancellation of an account will result in the deletion of all account and database information, in addition to the inability to access the messaging Service.

At no time will a refund be provided to the Member for Services not used as a result of a suspension or termination.


%h2 Revisions
We may make changes to the Website content at any time without notice, however we does not make any commitment to update the content.


%h2  Changes to Terms and Conditions of Use
We may change these Terms and Conditions at any time without notice.  By using Hydra and its associated services, you agree to comply with the latest version of the Terms and Conditions.  We will do our best to notify you of any changes, and the date of the latest revision will always be posted at the top of this document.
If after the Terms and Conditions and/or the Privacy Policy (insert link) have been amended or altered you do not agree to their terms, you must stop using this Website.
