- unless @xhr
  - provide(:title, 'Messages')
  .row
    .col-sm-12.col-md-12
      %h4
        %i.fa.fa-envelope
        Messages
        .pull-right
          = link_to contacts_path(flash_instructions: true), class: 'btn btn-sm btn-success' do
            %i.fa.fa-pencil
            Compose
.row
  .col-sm-12
    = smart_listing_render :messages
