.row
  .col-sm-12
    .table-responsive.card.card-outline-default.table-card
      %table.table
        %thead.thead-inverse
          %tr
            %th Created
            %th Amount
            %th Paid?
            %th
        %tbody#invoices
          - smart_listing.collection.each do |subscription|
            = render subscription
