.row
  .col-sm-12
    .card.card-default
      .table-responsive
        %table.table.table-hover
          %thead.thead-inverse
            %tr
              %th
                %p.lead Invoices
                Created
              %th Amount
              %th Paid?
              %th
          %tbody#invoices
            - smart_listing.collection.each do |subscription|
              = render subscription
