- unless @xhr
  - provide(:title, 'Users')
.row
  .col-sm-12.col-md-9
    .panel-title
      %h1
        %i.fa.fa-street-view
        Users
  .col-sm-12.col-md-3
    .pull-right
      -# = link_to new_user_path, class: "btn btn-sm btn-success" do
      -#   %i.fa.fa-plus
      -#   New

.row
  .col-sm-12
    = smart_listing_render :users
