- unless @xhr
  - provide(:title, 'Calls')
  .row
    .col-sm-12.col-md-9
      %h4
        %i.fa.fa-phone
        - if @line.present?
          = "Call Logs for #{@line.name}"
        - else
          Call Logs
.row
  .col-sm-12
    = smart_listing_render :call_logs
