#sidebar
  .nav-side-menu
    .brand{style: "font-size: 25px; padding: 5px;"}
      %a{href: admin_dashboard_path}
        %i.fa.fa-user-plus
        TmT Super
    %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
    .menu-list
      %ul#menu-content.menu-content.collapse.out
        %a{href: admin_plans_path}
          %li{class: @subnav == 'plans' ? 'active' : ''}
            %i.fa.fa-shopping-cart
            Plans
        %a{href: admin_blazer_path}
          %li.text-danger
            %i.fa.fa-database
            DataBlazer
        %a{href: admin_sidekiq_web_path}
          %li.text-danger
            %i.fa.fa-pied-piper-alt
            %strong Sidekiq
        %a{href: feed_items_path}
          %li.text-primary
            %i.fa.fa-tachometer
            Normal Dashboard
