#sidebar.hidden-print
  .nav-side-menu
    .brand{style: "font-size: 25px; padding: 5px;"}
      %a{href: admin_dashboard_path}
        %i.fa.fa-user-plus
        TmT Super
    %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
    .menu-list
      %ul#menu-content.menu-content.collapse.out
        %a{href: admin_dashboard_path}
          %li{class: @subnav == 'dashboard' ? 'active' : ''}
            %i.fa.fa-dashboard
            Dashboard
        %a{href: admin_plans_path}
          %li{class: @subnav == 'plans' ? 'active' : ''}
            %i.fa.fa-shopping-cart
            Plans
        %a{href: admin_subscriptions_path}
          %li{class: @subnav == 'subscriptions' ? 'active' : ''}
            %i.fa.fa-refresh
            Subscriptions
        %a{href: admin_invoices_path}
          %li{class: @subnav == 'invoices' ? 'active' : ''}
            %i.fa.fa-file-text-o
            Invoices
        %a{href: admin_questions_path}
          %li{class: @subnav == 'questions' ? 'active' : ''}
            %i.fa.fa-question-circle
            FAQs
        %a{href: admin_blazer_path}
          %li.text-warning
            %i.fa.fa-database
            DataBlazer
        %a{href: admin_sidekiq_web_path}
          %li.text-warning
            %i.fa.fa-pied-piper-alt
            %strong Sidekiq
        %a{href: feed_items_path}
          %li.text-primary
            %i.fa.fa-arrow-left
            Normal Dashboard
        %a{href: root_path}
          %li.text-primary
            %i.fa.fa-home
            Home
