%footer
    .row
        .col-md-12.text-center.stack
            %li
                %a{:href => legal_docs_path(type: "terms", is_default: true)} Terms
            %li
                %a{:href => legal_docs_path(type: "privacy", is_default: true)} Privacy
           
 
