%footer
    .row
        .col-md-12.text-center
            %li
                %a{:href => legal_docs_path(type: "terms")} Terms
            %li
                %a{:href => legal_docs_path(type: "privacy", is_default: true)} Privacy
           
 
