%div.alert.alert-warning
  %p.lead
    %i.fa.fa-exclamation-triangle
    Heads up!
  %p It looks like your account isn't properly setup to send messages. You need these three things
  %ul
    %li A valid subscription
    %li A connected twilio account
    %li A reserved line
