%ul.sidebar-nav
  %li
    %a{:href => "#"} Messages
  %li
    %a{:href => employees_path} Employees
  %li
    %a{:href => organizations_path} Organizations
  %li
    %a{:href => users_path} Users
  %li
    %a{:href => "#"} About
  %li
    %a{:href => "#"} Services
  %li
    %a{:href => "#"} Contact
