#sidebar
  .nav-side-menu
    .brand HYDRA
    %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
    .menu-list
      %ul#menu-content.menu-content.collapse.out
        %li.active
          %a{href: dashboard_path}
            %i.fa.fa-dashboard.fa-lg
            Dashboard
        %li
          %a{href: '#'}
            %i.fa.fa-address-book-o.fa-lg
            Team
        %li
          %a{href: '#'}
            %i.fa.fa-hashtag.fa-lg
            Lines
        %li
          %a{href: "#"}
            %i.fa.fa-users
            Users
        %li.collapsed{"data-target" => "#products", "data-toggle" => "collapse"}
          %a{href: "#"}
            %i.fa.fa-envelope.fa-lg
            Messages
            %span.arrow
        %ul#products.sub-menu.collapse
          %li.active
            %a{href: "#"}
              %i.fa.fa-pencil
              Compose
          %li
            %a{href: "#"}
              %i.fa.fa-external-link-square
              Sent
          %li
            %a{href: "#"}
              %i.fa.fa-reply
              Received
          %li
            %a{href: "#"}
              %i.fa.fa-clock-o
              Scheduled
        %li
          %a{href: organization_path(current_user.organization)}
            %i.fa.fa-gears.fa-lg
            Settings
        %li
          = link_to user_path(current_user) do
            %i.fa.fa-user.fa-lg
            My Profile
        %li
          %a{href: destroy_user_session_path, method: :delete}
            %i.fa.fa-sign-out.fa-lg
            Sign Out
