#sidebar.hidden-print
  .nav-side-menu
    .brand{style: "font-size: 25px; padding: 5px;"}
      %a{href: current_user.is_super_user? ? admin_dashboard_path : feed_items_path}
        %i.fa.fa-comments-o
        TmT
    %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
    .menu-list
      %ul#menu-content.menu-content.collapse.out
        %a{href: dashboard_path}
          %li{class: @subnav == 'dashboard' ? 'active' : nil}
            %i.fa.fa-dashboard.fa-lg
            Dashboard
        %a{href: contacts_path}
          %li{class: @subnav == 'contacts' ? 'active' : nil}
            %i.fa.fa-address-book-o.fa-lg
            Directory
        - if current_user.admin_role? && @current_plan.try :can_upload_contacts?
          %a{href: imports_path}
            %li{class: @subnav == 'imports' ? 'active' : nil}
              %i.fa.fa-upload.fa-lg
              Imports
        - if ['messages', 'message_requests', 'compose'].include?(@subnav)
          %li{"data-target" => "#messages_menu", "data-toggle" => "collapse", "aria-expanded" => "true"}
            %a{href: "#"}
              %i.fa.fa-envelope.fa-lg
              Messages
              %span.arrow
          %ul#messages_menu.sub-menu
            %li{class: @subnav == 'compose' ? 'active' : nil}
              %a{href: contacts_path(flash_instructions: true)}
                %i.fa.fa-pencil
                Compose
            %li{class: @subnav == 'message_requests' ? 'active' : nil}
              %a{href: message_requests_path}
                %i.fa.fa-paper-plane-o
                Sent
            %li{class: @subnav == 'messages' ? 'active' : nil}
              %a{href: messages_path(direction: 'inbound')}
                %i.fa.fa-reply
                Received
        - else
          %li.collapsed{"data-target" => "#messages_menu", "data-toggle" => "collapse", "aria-expanded" => "false"}
            %a{href: "#"}
              %i.fa.fa-envelope.fa-lg
              Messages
              %span.arrow
          %ul#messages_menu.sub-menu.collapse
            %li
              %a{href: contacts_path(flash_instructions: true)}
                %i.fa.fa-pencil
                Compose
            %li{class: @subnav == 'message_requests' ? 'active' : nil}
              %a{href: message_requests_path}
                %i.fa.fa-paper-plane-o
                Sent
            %li{class: @subnav == 'messages' ? 'active' : nil}
              %a{href: messages_path(direction: 'inbound')}
                %i.fa.fa-reply
                Received

        - if @current_organization.lines.count == 0
          %a{href: new_line_path}
            %li{class: @subnav == 'lines' ? 'active' : nil}
              %img.img-fluid{src: asset_url('twilio-mark-white.svg'), style: "height: 20px; margin: 4% 2% 4% 4%"}
              Lines
        - else
          %a{href: lines_path}
            %li{class: @subnav == 'lines' ? 'active' : nil}
              %img.img-fluid{src: asset_url('twilio-mark-white.svg'), style: "height: 20px; margin: 4% 2% 4% 4%"}
              Lines

        %a{href: call_logs_path}
          %li{class: @subnav == 'call_logs' ? 'active' : nil}
            %i.fa.fa-phone.fa-lg
            Calls

        %a{href: organization_users_path(current_user.organization)}
          %li{class: @subnav == 'users' ? 'active' : nil}
            %i.fa.fa-users.fa-lg
            Users
        - if current_user.admin_role?
          %a{href: organization_path(current_user.organization)}
            %li{class: @subnav == 'organizations' ? 'active' : nil}
              %i.fa.fa-gears.fa-lg
              Settings

        %a{href: edit_user_registration_path}
          %li{class: @subnav == 'devise' ? 'active' : nil}
            %i.fa.fa-user-secret.fa-lg
            My Profile

        %a{href: destroy_user_session_url, method: :delete}
          %li
            %i.fa.fa-sign-out.fa-lg
            Sign Out

        - if current_user.is_super_user?
          %a{href: admin_dashboard_path}
            %li.text-warning
              %i.fa.fa-user-plus
              Super
