#sidebar
  .nav-side-menu
    .brand{style: "font-size: 20px;"} TMT
    %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
    .menu-list
      %ul#menu-content.menu-content.collapse.out
        %a{href: dashboard_path}
          %li{class: @subnav == 'dashboard' ? 'active' : nil}
            %i.fa.fa-dashboard.fa-lg
            Dashboard
        - if current_user.present? && current_user.setup?
          %a{href: contacts_path}
            %li{class: @subnav == 'contacts' ? 'active' : nil}
              %i.fa.fa-address-book-o.fa-lg
              Directory

          %a{href: messages_path}
            %li{class: @subnav == 'messages' ? 'active' : nil}
              %i.fa.fa-envelope.fa-lg
              Messages

          %a{href: lines_path}
            %li{class: @subnav == 'lines' ? 'active' : nil}
              %i.fa.fa-hashtag.fa-lg
              Lines

          %a{href: call_logs_path}
            %li{class: @subnav == 'call_logs' ? 'active' : nil}
              %i.fa.fa-phone.fa-lg
              Calls

          %a{href: organization_users_path(current_user.organization)}
            %li{class: @subnav == 'users' ? 'active' : nil}
              %i.fa.fa-users.fa-lg
              Users
        - if current_user.admin_role
          %a{href: current_user.organization_id.present? ? organization_path(current_user.organization) : new_organization_path}
            %li{class: @subnav == 'organizations' ? 'active' : nil}
              %i.fa.fa-gears.fa-lg
              Settings

        %a{href: edit_user_registration_path}
          %li{class: @subnav == 'devise' ? 'active' : nil}
            %i.fa.fa-user-secret.fa-lg
            My Profile

        %a{href: changelog_path}
          %li{class: @subnav == 'changelog' ? 'active' : nil}
            %i.fa.fa-free-code-camp
            ChangeLog

        %a{href: destroy_user_session_url, method: :delete}
          %li
            %i.fa.fa-sign-out.fa-lg
            Sign Out
    - if current_user.is_super_user?
      .super-menu-list
        %ul
          %a{href: sidekiq_web_path}
            %li.text-warning
              %i.fa.fa-pied-piper-alt
              %strong Sidekiq
