#sidebar
  .nav-side-menu
    .brand HYDRA
    %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
    .menu-list
      %ul#menu-content.menu-content.collapse.out
        %li{class: @subnav == 'dashboard' ? 'active' : nil}
          %a{href: dashboard_path}
            %i.fa.fa-dashboard.fa-lg
            Dashboard
        %li{class: @subnav == 'employees' ? 'active' : nil}
          %a{href: employees_path}
            %i.fa.fa-address-book-o.fa-lg
            Directory
        %li{class: @subnav == 'lines' ? 'active' : nil}
          %a{href: lines_path}
            %i.fa.fa-hashtag.fa-lg
            Lines
        %li{class: @subnav == 'users' ? 'active' : nil}
          %a{href: users_path}
            %i.fa.fa-users
            Users
        %li.collapsed{class: @subnav == 'messages' ? 'active' : nil, "data-target" => "#products", "data-toggle" => "collapse"}
          %a{href: messages_path}
            %i.fa.fa-envelope.fa-lg
            Messages
            %span.arrow
        %ul#products.sub-menu{class: @subnav == 'messages' ? '' : 'collapse'}
          %li
            %a{href: "#"}
              %i.fa.fa-pencil
              Compose
          %li{class: @subnav == 'messages' ? 'active' : nil}
            %a{href: messages_path}
              %i.fa.fa-external-link-square
              Sent
          %li
            %a{href: "#"}
              %i.fa.fa-reply
              Received
          %li
            %a{href: "#"}
              %i.fa.fa-clock-o
              Scheduled
        %li{class: @subnav == 'organizations' ? 'active' : nil}
          %a{href: current_user.organization_id.present? ? organization_path(current_user.organization) : new_organization_path}
            %i.fa.fa-gears.fa-lg
            Settings
        %li
          = link_to user_path(current_user) do
            %i.fa.fa-user.fa-lg
            My Profile
        %li
          %a{href: destroy_user_session_path, method: :delete}
            %i.fa.fa-sign-out.fa-lg
            Sign Out
