.row
  .col-sm-12
    %p.lead
      Use this form to upload your pre-existing contact list.
    %p
      %strong.text-danger First Row Headers
    %ul
      %li first_name
      %li last_name
      %li phone*
      %li tags**
    .help-block.text-info
      %strong **
      Please separate multiple tags with the `|` symbol, which can be found above your enter key and below your backspace key. Example: (Is Cool|San Antonio Region|High Performer)
      Whatever is in this column, even if completely blank, will BE the tags for this contact going forward. Any existing tags not present here will be removed. Tags are case insensitive.
    .help-block.text-info
      %strong *
      We will use this to identify your team members. You may format however you wish, as long as it is a MOBILE number and ALL non-numeric charachters will be removed.
      %strong.text-danger NO EXTENSIONS! (example: (316) 258-8774 x103)
    %p.lead You can also use these headers:
    %ul
      %li internal_identifier (any ID you may have for your contacts)
      %li email
      %li title
      %li city
      %li started_at: Please format as MM/DD/YYYY
.row
  .col-sm-12
    = link_to "https://www.dropbox.com/s/2ty3g17nzagt6x6/contacts-example-file.csv?dl=0", target: '_blank', class: 'btn btn-sm btn-outline-info' do
      %i.fa.fa-download
      Sample File
