- provide(:title, 'Imports')
.row
  .col-sm-12
    %h4
      %i.fa.fa-upload
      Imports
      = link_to new_import_path, class: 'btn btn-success btn-sm' do
        %i.fa.fa-plus
%br
.row
  .col-sm-12
    = smart_listing_render :imports
= render "imports/dialog"
