%blockquote.blockquote.blockquote-reverse
  %i.fa.fa-phone
  %i.fa.fa-arrow-down.text-primary
  = feed_item.phrase
  %br
  .blockquote-footer
    %cite{:title => feed_item.phrase}= local_time_ago feed_item.created_at
