%a{href: line_path(feed_item.parent), style: "text-decoration: none; color: unset"}
  %div.alert.alert-warning.feed-item{style: "margin: 10px 0 10px 0"}
    %p
      %i.fa.fa-hashtag
      = feed_item.phrase
