%a{href: message_request_path(feed_item.parent), style: 'text-decoration: none; color: unset'}
  %blockquote.blockquote.feed-item
    %i.fa.fa-envelope-open
    %i.fa.fa-arrow-up.text-success
    = feed_item.phrase
    %br
    %br
    %p= feed_item.parent.body
    - if feed_item.parent.media_item.present?
      %a{href: feed_item.parent.media_item.url, target: '_blank', style: "text-decoration: none"}
        %img.img-fluid.img-thumbnail.m-2{src: feed_item.parent.media_item.url, style: 'max-height: 150px;'}
    .blockquote-footer
      %cite{:title => feed_item.phrase}= local_time_ago feed_item.created_at
