- unless @xhr
  - provide(:title, 'Activity Feed')
.row
  .col-sm-12.col-md-5
    .card.card-default
      .card-header
        %h4.card-title
          %i.fa.fa-newspaper-o
          Activity Feed
      .card-block
        = smart_listing_render :feed_items
  .col-sm-12.col-md-7
    = render 'dashboard/charts'
