- unless smart_listing.empty?
  .table-responsive.card.card-outline-primary.table-card
    %table.table.table-hover
      %thead.thead-inverse
        %th Organization
        %th= smart_listing.sortable 'Created', :created_at
        %th
      %tbody#subscriptions
        - smart_listing.collection.each do |subscription|
          = render subscription
- else
  .alert.alert-danger
    %p No subscriptions.
