%tr{id: "subscription_#{subscription.id}"}
  %td= subscription.try(:current_status).try(:upcase)
  %td= local_time_ago subscription.created_at
  %td.actions
    = link_to organization_subscription_path(subscription.organization, subscription), remote: true, method: :delete, class: 'btn btn-sm btn-danger' do
      %i.fa.fa-trash
