- provide(:title, 'Plans')
.row
  .col-sm-12
    %h4
      %i.fa.fa-shopping-cart
      Plans
      .pull-right
        %small Synced 6x/hour
.row
  .col-sm-12
    = smart_listing_render :plans
= render "admin/plans/dialog"
