.row
  .col-sm-12
    .text-center
      %img.img-fluid{src: @organization.logo.url, style: 'max-height: 100px;'}
      %br
  .col-sm-12
    .card
      .card-block
        .text-center
          %i.fa.fa-check.fa-5x.flashing-check.text-success
          %br
          %br
          %p.lead Success! Your profile has been registered.
