.thead-inverse a {
  color: #fff;
  text-decoration: none;
  cursor: ns-resize;
}

.table {
  margin-bottom: 0;
}

.table-card {
  border-top: 0px;
}

td.actions > span > a {
  padding-right: 10px;
}
