.col-centered {
  float: none;
  margin: 0 auto;
}

.in {
  opacity: 1;
}

.pricing-cent::after {
  content:"\00a2";
  width: 0.1em;
  height: 0.1em;
  -webkit-transform: translateY(-35px) rotate(45deg) scale(0.2);
  -moz-transform: translateY(-35px) rotate(45deg) scale(0.2);
}

.radio label, .radio-inline label, .checkbox label, .checkbox-inline label {
  padding-left: 0px;
}

.radio input[type="radio"], .radio input[type="checkbox"], .radio-inline input[type="radio"], .radio-inline input[type="checkbox"], .checkbox input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="radio"], .checkbox-inline input[type="checkbox"] {
  margin-left: 0px;
}

#main {
  min-height: 100vh;
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  #main {
    margin-top: 15px;
    width:calc(100% - 200px);
    float: right;
  }

}
