.thead-inverse a {
  color: #fff;
  text-decoration: none;
  cursor: ns-resize;
}

td.actions > span > a {
  padding-right: 10px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.in {
  opacity: 1;
}
