.thead-inverse a {
  color: #fff;
  text-decoration: none;
  cursor: ns-resize;
}

td.actions > span > a {
  padding-right: 10px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.in {
  opacity: 1;
}

.flex-grow {
   flex: 1;
}

.pricing-cent::after {
  content:"\00a2";
  width: 0.1em;
  height: 0.1em;
  -webkit-transform: translateY(-35px) rotate(45deg) scale(0.2);
  -moz-transform: translateY(-35px) rotate(45deg) scale(0.2);
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  #main {
    margin-top: 15px;
    width:calc(100% - 200px);
    float: right;
  }

}
