.table-responsive.card.card-outline-default.table-card
  %table.table
    %thead.thead-inverse
      %th
        %h6.text-white Payment Method
      %th
        - if current_user.admin_role?
          = link_to new_organization_billing_method_path(@organization), remote: true, class: 'pull-right btn btn-warning btn-sm' do
            %i.fa.fa-exchange
            Change

    %tbody
      %tr
        %td
          %strong Brand
        %td
          -case @card.brand
            -when 'Visa'
              %i.fa.fa-cc-visa.fa-2x
            -when 'American Express'
              %i.fa.fa-cc-amex.fa-2x
            -when 'MasterCard'
              %i.fa.fa-cc-mastercard.fa-2x
            -when 'Discover'
              %i.fa.fa-cc-discover.fa-2x
            -else
              %i.fa.fa-cc-alt.fa-2x
        %tr
          %td Type
          %td= @card.funding.titleize
        %tr
          %td Last4
          %td=@card.last4
        %tr
          %td Expiration
          %td=@card.exp_month.to_s + ' / ' + @card.exp_year.to_s
