.table-responsive.card.card-outline-default.table-card
  %table.table
    %thead.thead-inverse
      %tr
        %th
          %p.lead Card
          Brand
        %th Type
        %th Last4
        %th EXP
        %th

    %tbody
      %tr
        %td
          -case @card.brand
            -when 'Visa'
              %i.fa.fa-cc-visa.fa-2x
            -when 'American Express'
              %i.fa.fa-cc-amex.fa-2x
            -when 'MasterCard'
              %i.fa.fa-cc-mastercard.fa-2x
            -when 'Discover'
              %i.fa.fa-cc-discover.fa-2x
            -else
              %i.fa.fa-cc-alt.fa-2x
        %td= @card.funding.titleize
        %td=@card.last4
        %td=@card.exp_month.to_s + ' / ' + @card.exp_year.to_s
        %td
          - if current_user.admin_role
            = link_to new_organization_billing_method_path(@organization), remote: true, class: 'pull-right btn btn-warning btn-sm' do
              %i.fa.fa-exchange
