= link_to new_organization_subscription_path(@organization), remote: true, style: 'text-decoration: none;' do
  %div.alert.alert-success
    %h4 You're almost there! Just click this to setup your subscription.
