.table-responsive.card.table-card
  %table.table
    %thead.thead-inverse
      %th
        %h6.text-white Profile
      %th
        = link_to edit_organization_path, remote: true, class: 'pull-right btn btn-sm btn-secondary' do
          .text-warning
            %i.fa.fa-edit
            Edit
    %tbody
      %tr
        %td
          %strong Name
        %td=@organization.name
      %tr
        %td
          %strong Primary Billing Contact
        %td=@organization.email_domain
      %tr
        %td
          %strong Phone
        %td= number_to_phone @organization.phone.phony_formatted(normalize: :US, format: :international, spaces: ' ')
      %tr
        %td
          %strong City
        %td=@organization.city
      %tr
        %td
          %strong State
        %td=@organization.state
      %tr
        %td
          %strong Zip
        %td=@organization.zip
      %tr
        %td
          %strong
            Twilio Account
        %td
          - if @organization.twilio_auth_id.present?
            .text-success
              %i.fa.fa-check-circle
              Connected!
          - else
            = link_to 'Connect Your Account', "https://www.twilio.com/authorize/CN29760c1484efcafb62cf661a40e70338?state=#{@organization.id}"
