- unless @xhr
  - provide(:title, 'Organizations')
  .row
    .col-sm-12
      %h1
        Organizations
        = link_to new_organization_path, remote: true, class: 'btn btn-sm btn-success' do
          %i.fa.fa-plus
  %br
.row
  .col-sm-12
    = smart_listing_render :organizations
= render "organizations/dialog"
