- provide(:title, 'Organization Settings')
.row
  .col-sm-12.col-md-8.col-lg-6.col-centered
    .card.card-outline-primary.mt-4
      .card-block
        .row
          .col-sm-12
            %h2 Organization Settings
        .row
          .col-sm-12
            = render 'form'
