- provide(:title, 'Organization Settings')
.row
  .col-sm-12.col-md-8.col-lg-6.col-centered
    .card.mt-4
      .card-block
        .row
          .col-sm-12
            .progress
              .progress-bar.progress-bar-striped.progress-bar-animated.bg-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "66", :role => "progressbar", :style => "width: 66%"}
            %hr
            %h2 Step 2: Create Your Organization
            %p.lead Everything centers around your Organization.
        .row
          .col-sm-12
            = render 'form'
