
.row
  .col-sm-12
    %h1 Settings

.row
  .col-sm-12.col-md-12.col-lg-6
    %h1 Users

  .col-sm-12.col-md-12.col-lg-6
    %h1 Lines

.row
  .col-sm-12.col-md-12.col-lg-6
    %h1 Billing

  .col-sm-12.col-md-12.col-lg-6
    %h1 Invoices
