= simple_form_for [:admin, @subcription], remote: true, authenticity_token: true, html: { id: 'planForm' } do |f|
  .row
    .col-sm-12
      #error_holder
        %ul#errors
        = f.error_notification
  -# .row
  -#   .col-sm-12
  -#     = f.input :can_add_users, as: :boolean
  -#     = f.input :can_send_mms, as: :boolean
  -#     = f.input :can_upload_contacts, as: :boolean
  -#     = f.input :can_add_lines, as: :boolean
  -#     .form-actions
  -#       .text-center
  -#         = f.button :submit, class: 'btn btn-md btn-success'
