- provide(:title, "Edit #{@plan.name} Line")
.row
  .col-sm-12
    %h4
      %i.fa.fa-refresh
      subscriptions
.row
  .col-sm-12.col-md-6.col-centered
    .card.card-default
      .card-block
        = render 'form'
