- provide(:title, 'Subscriptions')
.row
  .col-sm-12
    %h3
      %i.fa.fa-refresh
      Subscriptions
      .pull-right
        %small Synced 6x/hour
.row
  .col-sm-12
    = smart_listing_render :subscriptions
