%br
.row
  .col-sm-12.col-md-6.col-centered
    %h2 Invite a User
    %br
    = simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post} do |f|
      = devise_error_messages!
      - resource.class.invite_key_fields.each do |field|
        = f.input field
      = f.button :submit, 'Send Invitation', class: 'btn btn-block btn-success'
